{% extends 'base.html' %}
{% block content %}

    <h2>Movie Info</h2>
    Title: <a href='{{ movie_info['url'] }}'>{{ movie_info['title'] }}</a><br>
    Release Date: {{ movie_info['released_at'] }}<br>
    <br>
    <p>Average Rating: {{ average }} out of {{ total }} ratings</p>
    <p>We predict that you will rate this movie: {{ prediction }}</p>


      {% if 'email' in session %}
          <form action="/rate-movie/{{ movie_info['movie_id'] }}" method='POST'>
            Rate movie out of 5: <input type='text' id='rate_movie' name='rating'>
            <input type='submit'>
          </form>

      {% endif %}

    <h2>The Eye says: <span id='beratement'>{{ beratement }}</span></h2>

{% endblock %}
